<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BioBotApp.Properties.Settings.BioBotLocalhostConnectionString"
            connectionString="Dsn=PostgreSQL30;uid=appbiobot;schema=biobot;database=biobot;server=104.236.215.136;pwd=biobot1"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>